label {
   cursor: pointer;
   font-size: 0px;
   margin-bottom: 0rem !important;
}

#upload, #textContentUpload, #textSignature {
   padding: 10px;
   opacity: 0;
   position: absolute;
   z-index: -1;
}